[2011-12-02 16:23] AaronMT opened #2 "Enhancement: Post a message to channel shortly after a bug is filed with the days whiteboard"
Sometimes in #firefox, Firebot will post messages to channel of recently filed bugs. Not everyone comes to channel during the testday but they will file bugs using the whiteboard for the day. It would be interesting to get the bot to post recently filed bugs to channel for everyone to see.

[2011-12-02 16:33] zacc opened #3 "Put small lag on channel entry greeting"
The bot greets people as soon as they enter and it's a bit freaky.

Put a second or two random lag on it to make it a bit less aggressive :)

[2011-12-02 16:36] tonychung opened #4 "pull the channel topic message into the welcome note"
it'd be awesome if testbot could dynamically pull the channel topic into the welcome message.   Admin moderators can update the channel topic, and when they do, new users that join would see the new note.

A lot of times, the topic includes the link to the testday announcement.  also, if the etherpad link ever changed during the day, testbot would pick that up.

[2011-12-02 17:06] AutomatedTester opened #5 "add :QMO and :SUMO details to the html site!"
This is to match Aaron's patch

[2011-12-03 00:23] ghost opened #6 "Don't re-welcome on re-join"
The bot does not discriminate against people joining for the first time, people rejoining after being away, or people automatically signing back in after timeout disconnect. The bot should be smarter.

[2011-12-03 10:31] #3 closed, assigned to nobody

[2011-12-03 10:42] AutomatedTester opened #7 "Not spam welcome messages on days that arent test days"
How would the bot know that there isnt a test day on because currently test day topics are left until the next test day. I like this so will split it into a different bug.

This is from comment https://github.com/AutomatedTester/testdaybot/issues/6#issuecomment-2997855 in #6

[2011-12-03 11:07] #5 closed, assigned to nobody

[2011-12-03 11:15] AutomatedTester opened #8 "add :help so that people know how to use the bot!"

[2012-02-03 21:15] ghost opened #9 "Ability to log, gather metrics data"
I would like to have the ability to retrieve logs of activity from testday bot. For example, it would be useful if I could see the number of unique testers who signed on that day.

[2012-02-06 15:01] #6 closed, assigned to nobody

[2012-02-18 10:23] AutomatedTester opened #10 "Produce CSV data to be put into spreadsheet"
Have data processed like below

`Event  Testers Greeted Bugs Triaged    <2 Messages 2-5 Messages    >5 Messages 0 Messages`

[2012-07-19 20:56] #9 closed, assigned to nobody

[2013-01-02 16:44] ghost opened #11 "Add a metric for most active times of the day"
The general idea is to count the number of messages posted in the channel per hour. This way I can determine the most "active" times.

Thanks

[2013-03-15 11:17] #11 closed, assigned to nobody

[2013-09-25 20:39] whimboo opened #12 "Please move repository to the Mozilla account"
David, it would be great if you could move the whole repository to the official Mozilla account. That way we could more easily maintain it and enhance the features of the bot.

I hope it will work for you. CC'ing @davehunt and @ashughes1.

[2013-09-26 09:57] #12 closed, assigned to nobody

[2013-09-26 09:59] whimboo opened #13 "Allow operators of the testday channel to set the etherpad url via an IRC command"
As of now you have to restart the bot with an updated etherpad URL to set the new topic. We should simply allow that for any operator in the #testday channel to update it via an irc command like ´:etherpad url´.

[2014-10-28 18:51] ghost opened #15 "Be smarter about detecting someone who should be greeted"
The bot should greet under the following conditions:
- if the person has joined for the first time
- if the person has not been greeted by someone else
- if the person has rejoined after a certain time away

[2014-10-28 18:55] ashughes1 opened #16 "Be able to ask Testdaybot who is available to help"
As a testday participant, I should be able to easily identify who is available to help me get started.
* I should be able to query the bot and get back a list of helpers
* the bot should be able to ping mentors on my behalf without prompting
* I should be notified of who to ask for help when I join the event

[2014-10-28 18:56] ghost opened #17 "Testdaybot should linkify bugs when mentioned"
I can't remember if the bot has this feature already, but I wanted to file it just in case. When someone mentions a bug number in channel, it should be linkified.

[2014-10-28 18:58] ghost opened #18 "Testdaybot should be able to be queried for help"
I should be able to issue the Testdaybot a 'help' command and be treated to a manual of commands.

[2014-10-28 19:00] ghost opened #19 "Testdaybot should provide information on joining the community"
The testdaybot should be able to provide a person information on how to join the community. This information should be offered to anyone who has contributed during the event (if they aren't already a Mozillian). This information should also be queryable so I can ask the testdaybot how to join.

[2014-10-28 19:05] ghost opened #20 "Testdaybot should be able to provide schedule information"
The testdaybot should be able to provide the following schedule information:
- schedule of events/activities for the current day
- schedule of events/activities for the next event

[2014-10-28 19:07] ghost opened #21 "Investigate emulating functionality of other IRC bots"
There are a few different bots on Mozilla's IRC channels which provide functionality we may want to emulate in the Testdaybot. This issue should track cataloging the feature sets of the various bots to see if there's anything we can poach to supplement Testdaybot's feature-set.

Two bots that come to mind are the Fennecbot and WebQAbot.

[2014-10-28 19:09] ashughes1 opened #22 "Advertise an active event across multiple channels"
The testdaybot should be able to advertise an active event across multiple IRC channels. This should be done at regular intervals or when queried by the event organizer.

[2014-10-28 19:16] ashughes1 opened #23 "Investigate data collection for outreach and metrics purposes"
The testdaybot should be able to collect certain information for the purposes of reaching out to event attendees and to generate metrics so we can make improvements to the program.

Some initial ideas include:
* IRC names
* Bugs
* Tests
* Tasks
* Check-ins

A couple of requirements:
* This information should only be queryable by event organizers.
* This information should be opt-in for event parti

[2014-12-04 02:11] whimboo opened #24 "Setup a new testday"
An admin needs to be able to setup a new testday via the bot. We need:
- date and time range via UTC
- Topic
- Etherpad
- Set Test day organizer and Anthony as helpers

[2014-12-22 19:11] galgeek opened #27 "handle Test Day helpers per Test Day"
No default helpers should be set. Test Day helpers should get set for each test day, starting with default Test Day admins.
PR #26

[2014-12-22 19:15] galgeek opened #28 "add user verification for each admin command"
probably best to write a function to check for admin nick and logged in user.
client.whois crashes the bot if the supplied nick is not currently available on IRC
updates to the irc library are available and may address this crash, but adding test to individual admin commands on execution would be more secure and less likely to cause the crash
PR #26

[2014-12-22 20:15] galgeek opened #29 "store Test Day start and end and etherpad with other metrics"
Start and End should be saved with metrics, as well as the etherpad.

[2014-12-22 21:12] #29 closed, assigned to nobody

[2014-12-22 22:03] whimboo opened #30 ":stats command should show timezone in its output"
The times as output by the :stat command are in UTC but we do not show that anywhere at the moment:

Lets add this info to the description.

[2014-12-22 22:06] whimboo opened #31 "bot has to update channel topic when testday starts and ends"
The topic for the testday as set with the :next command should be reflected in the channel during the testday. So the bot has to update the topic if permissions exist. Also it has to restore the old topic once the testday is over.

Keep in mind that the bot will have OP in the #qa channel.

[2014-12-22 22:12] #24 closed, assigned to galgeek

[2014-12-22 22:15] #18 closed, assigned to galgeek

[2014-12-22 22:16] #17 closed, assigned to nobody

[2014-12-22 22:17] #13 closed, assigned to nobody

[2014-12-22 22:18] #8 closed, assigned to nobody

[2014-12-22 22:19] #7 closed, assigned to nobody

[2014-12-29 07:34] #4 closed, assigned to nobody

[2014-12-30 02:15] galgeek opened #37 "update ReadMe"
ReadMe still refers to greeting new users

[2014-12-30 08:25] #30 closed, assigned to galgeek

[2014-12-30 18:50] galgeek opened #39 "update (or replace?) the included node-irc library"
The code here looks like v.0.3.3.

0.3.5 was released by the original maintainer 2013-01-01. https://github.com/martynsmith/node-irc/releases

Current node-irc 0.3.x branch shows 0.3.7 in package.json

A possible replacement, mentioned in node-irc issues conversations:  https://github.com/oftn/oftn-bot

[2015-01-02 05:49] #27 closed

[2015-01-06 10:41] whimboo commented on #16
PR #36 has been merged, so this is fixed.

[2015-01-06 10:41] #16 closed

[2015-01-06 18:41] galgeek opened #43 "save and reload test day data across bot restarts"
The bot does not currently save its test day schedule to reload after a bot restart. Instead, a previously schedule test day must be rescheduled.

We should save a test day schedule, and probably some other details like updated helpers, and reload when the bot restarts.

[2015-01-07 22:26] whimboo commented on #28
PR #33 has been merged.

[2015-01-07 22:26] #28 closed

[2015-01-08 12:17] whimboo opened #44 "Log active participants"
Before we were putting out greeted people in the stats. Given that we do not greet people anymore, we should change that to active people. That means we should log who was active during a testday.

@ashughes1 I think that is something you absolutely wants to have for the first testday?

[2015-01-08 16:43] galgeek commented on #44
Hi @ashughes1 and @whimboo!

The data-recording code hasn't changed, we're just not sending the greeting.
As long as we're not sending a greeting, it might be good to change the property names from greetedName and greetedNumber, maybe to usersJoined and usersJoinedTotal.

[2015-01-08 19:11] whimboo commented on #44
We do not want to count the users who joined the channel but those who were active. So `activeName` and `activeNumber` would be good. Whereby if activeName is an array we don't need the number property because there is the length available.

[2015-01-08 19:14] galgeek commented on #44
usersTalked already records active participants.

Should we rename or remove any of the current properties?

[2015-01-08 19:17] whimboo commented on #44
I see. Then I leave it up to @ashughes1. If he doesn't need the join information, we can get it removed.

[2015-01-08 23:25] ashughes1 commented on #44
I don't think "joined" is too valuable because it will count lurkers and auto-joiners. Particularly now since the events are done in the #qa channel. I'm only interested in counting the people who are joining the channel for the given event. I don't know a good way to differentiate between lurkers/auto-joiners, joining #qa for general interest, and joining #qa for the event.

[2015-01-09 11:58] #20 closed, assigned to galgeek

[2015-01-09 12:03] whimboo commented on #23
PR #40 has been merged. Keeping this issue open for the remaining items.

[2015-01-09 12:40] whimboo commented on #37
PR #42 has been merged.

[2015-01-09 12:40] #37 closed

[2015-01-09 17:33] galgeek commented on #44
Hi @ashughes1!

The current "greeted" properties record nicks that join during a testday; they don't include those already in the channel when a test day begins. Maybe it would be interesting to compare "greeted" to active ("usersTalked")?

testdaybot updates are running in #testdaybotTest. You might want to ` /msg _TestDayBot :stats` to see what we're currently collecting.

[2015-01-09 17:38] galgeek commented on #23
Hi @ashughes1!

Could you please expand on and clarify requirements 2 and 4, "information should be opt-in..." and "participant should be able to opt-out..."? Maybe there's a relevant Mozilla privacy policy that I could review?

Thank you!

[2015-01-09 17:43] galgeek commented on #19
Hello @ashughes1!

Have any updates for this issue?

If I should follow up with the broader QA org, do you have suggestions for how I should approach that?

Thank you!

[2015-01-12 16:37] whimboo commented on #31
PR #34 has been merged. Thanks Barbara.

[2015-01-12 16:37] #31 closed

[2015-01-12 18:18] ashughes1 commented on #23
I mean that the Testdaybot should not be collecting information about people without those people knowing about it. Maybe for every new participant who joins the event we could send a backchannel message to them to notify them what information Testdaybot routinely collects and to tell them a command they can send to Testdaybot if they want it to stop.

[2015-01-12 18:19] ashughes1 commented on #19
I think that message is probably too "wordy". I can put this on my to-do list to follow up with the team on.

[2015-01-12 22:35] galgeek commented on #23
Hi @ashughes1!

Is it ok to ask people to opt out each test day, or should we remember that from test day to test day?

[2015-01-12 22:38] ashughes1 commented on #23
I think it should default to prompt people each testday but to ignore those people who've opted out. Perhaps keep a list of opted out IRC nicks and check against that list before prompting a channel joiner.

[2015-01-13 17:33] whimboo commented on #39
PR #45 has been merged. Thanks.

[2015-01-13 17:33] #39 closed

[2015-01-13 17:34] whimboo commented on #39
Marking priority as P1 given that this fixes the crash for non-online users and whois().

[2015-01-13 17:39] whimboo commented on #22
PR #38 has been merged. Thanks Barbara.

[2015-01-13 17:39] #22 closed

[2015-01-13 17:42] whimboo commented on #23
Given that remembering those opted-out people would require to store data to disk, I wonder if we could move this to a separate issue. It's not ideal without it, but not a P1 blocker.

[2015-01-13 18:05] ashughes1 commented on #23
That's fine but I do not want the code here merged to production until we can provide the facility to opt-out due to privacy concerns.

[2015-01-13 18:11] whimboo commented on #23
PR #46 adds the opt-out and will be landed soon. It will keep the list of opted-out users as long as the bot runs and is not quit or crashes.

[2015-01-13 18:22] galgeek commented on #23
Hi, @ashughes1 and @whimboo!

I'll have today's comments addressed shortly, then will work on saving to disk across bot restarts.

In the meantime, yesterday's WIP is running in #testdaybotTest. It might be helpful to take a look. You could start with :help.

[2015-01-14 17:33] galgeek opened #47 "add to :help response with a single message in channel noting PM response"
It's easy for people monitoring lots of channels to miss the PM :help output.

[2015-01-15 13:15] whimboo commented on #44
PR #46 has been merged and adds logging for active users.

[2015-01-15 13:15] #44 closed

[2015-01-15 13:19] whimboo commented on #23
Is this issue done now given that PR #46 has been landed? Or what's left to do?

[2015-01-15 17:13] galgeek commented on #23
Hi, @whimboo and @ashughes1!

For the data currently collected, maybe we want to provide it to organizers as something other than IRC messages, e.g., a file. (I've begun some code for that in PR #48.) Or should that be a separate issue?

[2015-01-15 17:24] galgeek opened #49 "update main listener to use switch / else if for bot commands"
The main listener should use a switch or  if / else if block for public bot commands, like :helpers, :schedule, and :optout.

See conversation in PR #46 and handling of admin commands in bot.js.

[2015-01-15 22:15] whimboo commented on #23
For now IRC should be fine. If metrics need to be happen, we might have to push into a database. But that's clearly outside of the scope of this issue.

[2015-01-16 17:20] whimboo commented on #49
That would be possible when we split the message at the very beginning in its parts. So the first item will be the command which switch could work on.

[2015-01-16 17:34] whimboo commented on #47
Good idea! So we mimic other already existent bots and do not spam the channel.

[2015-01-19 20:47] whimboo commented on #23
By the latest merge it looks like that all which was requested here is fixed. @ashughes1 please file a new issue if something is still missing or needs an enhancement. Thanks.

[2015-01-19 20:47] #23 closed

[2015-01-21 13:14] whimboo opened #50 "Announce in the channel when the test gets started or ends"
Right now the bot is only updating the topic of the channel. But it would be good to send a simple message to the channel itself to announce that the testday has been started or ends. It should show the topic and the link to the etherpad like:

`The %topic% testday starts now. For details see %etherpad%`
[..]
`The %topic% testday ended. Thank you all for your participation!`

@ashughes1, would thi

[2015-01-21 13:17] whimboo opened #51 "Improve output of stats command"
Right now the entries are kinda unordered and it is hard to find the appropriate information. I would propose we output the information ordered the following way:

* Topic
* Etherpad
* Start
* End
* OptoutTotal
* Active participants
* Active hours

[2015-01-21 13:27] whimboo commented on #43
Commits have been squashed, the commit message updated, and the PR got merged as https://github.com/mozilla/testdaybot/commit/5ef21bad513fd5c9322d9d410a4ab4383433fc8a.

[2015-01-21 13:27] #43 closed

[2015-01-21 13:29] whimboo commented on #21
As long as we do not know what to do here, this issue cannot be a priority.

[2015-01-21 13:31] whimboo commented on #19
@ashughes1 and @galgeek, I do not see any progress on this issue for the past 9 days! Looks like both of you missed to follow-up here. Can we please get the necessary information  @ashughes1 so we can get this implemented for the upcoming testday? Otherwise the command will not be available.

[2015-01-21 13:42] whimboo opened #52 "Run testdaybot for the next Test Day on 2015-01-23"
@ashughes1 as far as I can remember the next testday is this Friday. I would like to have the testday bot running through the day. Please let me know about details so we can get it setup together.

I will get the bot running on mozqa.com under my personal account. If all is working fine we can make it a service on that host.

[2015-01-21 19:09] ashughes1 commented on #50
That looks fine to me, thanks.

[2015-01-21 23:39] ashughes1 commented on #19
My apologies for the delay. Here's what I came up with after several iterations. Tell me what you think.

Mozilla QA is a diverse, open community of people pushing the open web forward by ensuring Mozilla produces the best technology possible. See https://wiki.mozilla.org/QA to find out more about getting involved.

[2015-01-21 23:40] ashughes1 commented on #52
The information is posted to QMO:
http://quality.mozilla.org/2015/01/firefox-36-beta-3-testday-january-23rd/

[2015-01-22 00:23] galgeek commented on #19
Hi, @ashughes1 and @whimboo!

That looks fine to me as a response, via private message, I think, to a :join command. I can set this up quickly.

The other part of this issue is offering the info to "anyone who has contributed during the event (if they aren't already a Mozillian)." I wonder what we want to include as contributing during the event.

And I wonder how we decide if someone isn't a Mozi

[2015-01-22 04:59] galgeek opened #54 "refine commands and add :rmAdmin and :rmHelper"
Hello @whimboo and @ashughes1!

Anthony provided some quick feedback on his testing today, including...
* refine the :etherpad command, so that it's smarter about what it says, like :schedule
* refine the :addAdmin/:addHelper commands, so that they don't add duplicate nicks
* refine the :optout command, so that it adds advice on opting back in
* refine the :advertise command, so that it provides f

[2015-01-22 06:19] galgeek commented on #52
Hi @ashughes1 and @whimboo!

I've left my current code, including today's two PRs, running in #testdaybotTest, using the nick _TestDayBotTestBot, which shouldn't interfere with your running the bot in #qa.

The command to schedule Friday's test day should be something like this:

:next 2015-01-23T08:00Z 2015-01-24T01:00Z https://etherpad.mozilla.org/testday-20150123 Welcome to today’s Test Day!

[2015-01-22 08:07] whimboo commented on #52
No, the format of the :next command should be:

`:next 2015-01-23T07:00Z 2015-01-24T01:00Z https://etherpad.mozilla.org/testday-20150123 Firefox 36.0 beta 3 Testday`

I will bring up the bot and schedule this event. For the remaining feedback issues fixed, we can restart the bot at anytime once those have been landed.

[2015-01-22 08:11] whimboo opened #56 ":next command should print start and end times in UTC"
Currently the times are shown in PST:

Next Test Day's end is Fri Jan 23 2015 17:00:00 GMT-0800 (PST)

Lets use UTC as format given that this is used everywhere else.

[2015-01-22 08:14] whimboo opened #57 "Setting testday topic needs a prefix welcome message"
Right now we have the following line:

It should be changed so it fulfills the following:

* A welcome text
* It includes the link to the etherpad + some prefix text

@ashughes1 can you please give us the wording you would like to have here? @galgeek, this is an issue we also have to fix before Friday.

[2015-01-22 08:16] whimboo opened #58 "Identify itself against nickserv for a registered nick"
The testdaybot should identify itself on connection to nickserv. That way we can let him get ops automatically via chanserv. @galgeek, is that easy to fix?

[2015-01-22 08:23] whimboo commented on #50
@galgeek can you please get this fixed for tomorrow?

[2015-01-22 18:39] ashughes1 commented on #19
I think it's going to be hard to check if A) a contribution has been made and B) that contribution is associated with a Mozillians account (ie. https://www.mozillians.org). Perhaps we can drop that from the scope of this issue for now.

I noticed that there isn't anything about our Mozillians group on the wiki page and that should probably be fixed, but that's outside the scope of the Testdaybot p

[2015-01-22 19:01] ashughes1 commented on #57
I guess something like this will do:

[2015-01-22 21:16] galgeek commented on #52
Hi, @whimboo!

If the updated topic code is in place, you'll likely want to switch the topic in the :next command to just "Firefox 36.0 beta 3"

[2015-01-22 21:54] whimboo commented on #57
I assume you missed to add the topic and etherpad link here. So what about:

`Welcome to the QA channel. Today we have a %topic%. For more information see %etherpad% and ask any questions you have in this channel`

[2015-01-22 22:15] ashughes1 commented on #57
Sorry, github ate the tags I added. This is what I meant:

[2015-01-22 22:52] whimboo commented on #57
PR #60 has been merged.

[2015-01-22 22:52] #57 closed

[2015-01-22 23:29] whimboo commented on #58
PR #59 has been merged.

[2015-01-22 23:29] #58 closed

[2015-01-22 23:31] whimboo commented on #52
Beside issue #54 all feedback has been incorporated. @galgeek mentioned that she might be able to also fix this PR. So I will wait with updating the bot until it has been merged.

Other things I have to do:
* Register _Testdaybot against nickserv and update the config file for the password

I will do this tomorrow morning before the testday starts.

[2015-01-23 06:56] whimboo commented on #50
PR #61 has been merged

[2015-01-23 06:56] #50 closed

[2015-01-23 06:59] whimboo commented on #56
PR #62 has been merged. Thanks Barbara.

[2015-01-23 06:59] #56 closed

[2015-01-23 07:14] galgeek opened #65 "Move config.json to config-example.json"

[2015-01-23 07:23] whimboo commented on #54
PR #55 has been merged.

[2015-01-23 07:23] #54 closed

[2015-01-23 07:31] whimboo commented on #51
PR #63 got merged.

[2015-01-23 07:31] #51 closed

[2015-01-23 07:53] whimboo commented on #65
PR #66 has been merged.

[2015-01-23 07:53] #65 closed

[2015-01-23 08:04] whimboo commented on #52
All is done and the bot is running in #qa for todays testday. He has auto-op when joining the channel. @ashughes1, I will send you the password for backup via email.

Please let me know if anything makes problems.

[2015-01-23 16:41] whimboo opened #67 "Firebot bugs are not counted"
The stats do not show any bug as mentioned by firebot in the testday channel. The format is of the following:

[2015-01-23 16:42] whimboo opened #68 ":stats command should send content as a single message"
:stats is sending a dozen of messages which is kinda annoying. Instead please construct the content on the bot side, and send a single message to the user.

[2015-01-23 20:50] galgeek commented on #19
I won't close this issue, but I have for now removed the P1 label.

[2015-01-23 21:18] galgeek commented on #49
Hi, @whimboo!

Many of the checks in the main listener are set to match anywhere in the message, and in the absence of else if, seem to be meant to support combinations, so I could send "Learn more about how to raise a :bug and check the :etherpad for more info about today’s tests" and get both the :bug link and the :etherpad link in reply. Do we want to change this?

Or do we want to move only th

[2015-01-24 20:07] galgeek opened #71 ":helper add should support addition of multiple helpers per command"
Currently only one nick can be added per command.

[2015-01-24 20:10] galgeek opened #72 ":help command should print help for all privileged commands for admins"
Currently :help does not print help for admins for the helpers-also command :advertise.

[2015-01-26 11:42] whimboo commented on #49
This is for PM messages but not for the channel. Anyway, this is an enhancement and nothing you will have to work on Barbara.

[2015-01-26 20:21] whimboo commented on #52
@ashughes1 and @ctalbert I wonder if we could get some feedback in how the testday went and how helpful the new bot was. Also it would be good if there are other important things to get fixed. Thanks.

[2015-01-26 20:43] ashughes1 commented on #52
I'll be sure to provide you with feedback as soon as I've had a chance to sit down with Florin to chat about it.

[2015-01-29 19:55] ashughes1 commented on #52
Florin mentioned in the last meeting that he hadn't much opportunity to play with Testdaybot. I suggest we cc him on this issue and add an action item for him to try it out next time to provide feedback.

[2015-02-09 15:43] whimboo commented on #68
PR #70 has been merged. Thanks @galgeek.

[2015-02-09 15:43] #68 closed

[2015-02-11 11:07] whimboo commented on #52
I have pinged Florin again on IRC. If we don't get an update on this issue until end of this week I will assume that everything works as expected as of now.

[2015-02-11 11:12] whimboo commented on #67
PR #69 has been merged.

[2015-02-11 11:12] #67 closed

[2015-02-11 11:16] whimboo commented on #47
PR #64 has been merged.

[2015-02-11 11:16] #47 closed

[2015-02-16 13:01] FlorinMezei commented on #52
We (the manual QE team) have used the testday bot for a couple of testdays now and it seems to work rather well. Very useful in getting support info and advertising the event on IRC.

Two very small improvements that I would like:
1. When running ":stats" sort the active people by "most active" to "least active" - currently randomly listed.
2. When setting the ":next" testday make "time" errors mo

[2015-02-16 13:05] whimboo opened #73 ":stats should sort active people from most active to least active"
From issue #52:

When running ":stats" sort the active people by "most active" to "least active" - currently randomly listed.

[2015-02-16 13:06] whimboo opened #74 "Improve time handling in :next command"
From issue #52:

2. When setting the ":next" testday make "time" errors more explicit:
a) start time in the past
b) start time after end time
Currently we get the same generic error that time is invalid and have to hunt down where the issue is.

@FlorinMezei it would be good if you can give some examples here. Thanks.

[2015-02-16 13:08] whimboo commented on #52
Thank you Florin! That sounds good. Those two issues you are mentioning here are more enhancements. We cannot currently work on those but we can have them mentored and let other members of the community work on that.

See some inline details:

Filed as issue #73.

2. When setting the ":next" testday make "time" errors more explicit:
a) start time in the past
b) start time after end time
Currently

[2015-02-16 13:08] #52 closed

[2015-02-16 13:14] FlorinMezei commented on #74
Some simple examples:

a) start time in the past
A simple check if start time is before current time - show an error saying something like: "Start time is set in the past - note that the timezone is UTC"

a) start time after end time
A simple check if start time is before end time - show an error saying something like: "Start time was set after End Time"

[2015-02-18 20:05] xabolcs commented on #73
_Ohh, my first testdaybot commit was born. :)_

Can I take this issue?

[2015-02-18 22:58] xabolcs commented on #74
Can I take this?

[2015-02-20 07:00] whimboo commented on #74
Sure! ;) I assigned you now.

[2015-02-26 07:24] whimboo commented on #72
PR #76 has been merged. Thanks!

[2015-02-26 07:24] #72 closed

[2015-03-04 10:54] whimboo commented on #73
PR #75 got merged. Thanks!

[2015-03-04 10:54] #73 closed

[2015-03-10 08:23] whimboo opened #78 "Add config.json to .gitignore"
On mozqa.com the newly created service resets the local checkout of the git repo to ensure that we can successfully apply the latest changes. By doing that we also remove the config.json file. So lets put this file into .gitignore to make it persistent.

[2015-03-10 08:24] whimboo commented on #78
This was fixed by a simple commit: https://github.com/mozilla/testdaybot/commit/abaf43adf3687c44c7487bac45522591738bcd63

[2015-03-10 08:24] #78 closed

[2015-03-10 08:44] whimboo commented on #74
PR #77 has been merged. I will get all the latest changes merged to the release branch now, so they will be active on the running testdaybot instance in #qa in a bit.

[2015-03-10 08:44] #74 closed

[2015-03-10 11:00] xabolcs commented on #71
Hi all!
I'd like to take this issue!

@galgeek, do you have thoughts how to response to bad inputs, like not all nicknames are registered?

[2015-03-10 18:12] galgeek commented on #71
Hi, @xabolcs!

I think it's enough for this issue to do whatever checks testdaybot does now.

Before testdaybot runs any admin command, it checks that the nick is on the admins list and that the nick is registered and logged in, so it's not vital to do further checks simply to add a nick to the list.

Also, if I remember correctly, it's not clear how to do any check for a nick that's not currently

[2015-03-11 09:20] xabolcs commented on #71
Thanks!

Should I improve `:admin` add/remove commands too? Then please update the issue's title to reflect that!

[2015-03-12 02:11] xabolcs commented on #10
@AutomatedTester is this issue still valid?

[2015-03-12 14:37] AutomatedTester commented on #10
Probably not but I don't have much to do with this project anymore

On 12 March 2015 at 02:11, Szabolcs Hubai <notifications@github.com> wrote:

[2015-03-13 09:15] whimboo opened #80 "Configuration is not always saved"
I get a ping from @FlorinMezei this morning regarding his admin privileges. Those were gone again since we restarted the bot yesterday. I have had a look into the code and have seen that the configuration for at least admins is not saved when the list is changing. So if the bot is restarted by the system daemon due to updates the configuration is gone.

So for all the data stored in the config fil

[2015-03-13 14:45] xabolcs commented on #10
@whimboo, is this issue still valid?

[2015-03-13 15:56] whimboo commented on #10
Nowadays it would be better to export as JSON data. So it can more easily be used with other tools too.

[2015-03-16 11:21] whimboo commented on #71
I do not see a need for such a functionality. Each command should only operate on a single nick similar to nickserv, chanserv, or other kinds of software.

[2015-03-16 11:41] xabolcs commented on #71
@whimboo feel free to close this as wontfix, also the PR!

[2015-03-16 16:23] whimboo commented on #71
Thanks @xabolcs for the feedback. I'm still sure we should not implement this. So I will finally close both tickets.

[2015-03-16 16:23] #71 closed

[2015-03-16 16:25] xabolcs commented on #80
I'd like to work on this issue.

[2015-03-16 16:26] whimboo commented on #80
Thanks! I have assigned you now so everyone knows. :)

[2015-05-27 19:05] xabolcs commented on #80
Testing with the patch applied below, it seems like it saves the data [all the time][1].
[code]

What if something bad happened and an [error][2] was logged into the console?

It would be nice if `saveData` could provide a feedback somehow, e.g. rollback the unsaved change or something.

[1]: https://github.com/mozilla/testdaybot/blob/eaecd7e3bac0bc0a3ac78cfbd75bebc86972adb5/bot.js#L442
[2]: https

[2015-05-29 09:42] whimboo commented on #80
Hm, I wouldn't send a message each time time we safe but it sounds good to inform the admin, who made the changes, that the save action was not successful. Best is always to keep the changes in temporary variables and update the global ones when the safe action is done.

[2015-05-29 11:04] xabolcs commented on #80
For example with callbacks? Or with [promises][1] instead? :)

[1]: https://www.npmjs.com/package/promise

[2015-05-29 11:48] whimboo commented on #80
Depends on. What I know from the work of Barbara we hit an issue when the global error handler was called in case of exceptions. Not sure if that applies to every one. In that case it might indeed become harder, but we should try to check how node.js reacts on such a kind of failure.

[2015-05-29 12:04] xabolcs commented on #80
Sorry?

I thought including a simple callback near [#L529][1].

[1]: https://github.com/mozilla/testdaybot/blob/eaecd7e3bac0bc0a3ac78cfbd75bebc86972adb5/bot.js#L528-L530 "if (err) { ..."

[2015-06-01 17:12] whimboo commented on #80
Sorry, forget my last comment then. Now I see that we have an error callback. When it works we are fine here. So instead of writing to the console, shall we better send a message with the failure to the user who triggered this change? I don't think anyone will check the console.

[2015-06-01 19:03] xabolcs commented on #80
I'll give a try to extend `saveData` with a callback.

Did you know that it is unsafe to use `fs.write` multiple times on the same file without waiting for the callback?
Quote from `fs.write` [documentation][1]:

Should I introduce a `saveDataSemaphore` instead start using streams?

[1]: https://nodejs.org/api/fs.html#fs_fs_write_fd_buffer_offset_length_position_callback

[2015-06-01 23:40] whimboo commented on #80
I think that this is a case which normally would never happen. The write operation should finish within hundreds of milliseconds. That is not a time a user would send multiple requests to the bot. What happens right now when we set a new value that quickly? Would it call the error callback? We could let the user know that way about the write failure.

[2015-06-02 07:55] xabolcs commented on #80
It's good enough if multiple user send a request to the bot at the same time

I didn't started the work yet. But yes, an error callback which sends the error to the user would be enough for now.

[2015-06-02 08:04] whimboo commented on #80
I think so too. Lets do the trivial way. The bot is actually not a high-end product, and as long as we report such a failure back to the user he will know that the action needs to be repeated.

[2015-06-03 00:43] xabolcs commented on #80
Example talk:
[code]

Looks good?

[2015-06-03 13:43] whimboo commented on #80
Yes, that looks wonderful!

[2015-06-03 14:13] xabolcs commented on #80
Thanks!
Let's review the referencing PR! :)

[2015-06-05 20:18] whimboo commented on #80
PR #81 has been merged.

[2015-06-05 20:18] #80 closed

[2015-08-21 16:44] alex-mayorga opened #82 "testdaybot should tell users which data is being collected prior to asking them to opt out"
Steps:

Joining #qa on a Test Day

Result:
testdaybot PMs users the following:

11:19 <_TestDayBot> Welcome to today’s Test Day, alex_mayorga!
11:19 <_TestDayBot> To opt out of data collection, use the command :optout.

Expected results:
testdaybot PMs users the following:

11:19 <_TestDayBot> Welcome to today’s Test Day, alex_mayorga!
11:19 <_TestDayBot> We collect data as described at https://al

[2015-09-01 08:45] whimboo opened #84 "Bot should strip whitespaces from topic"
The following command will setup a new testday, but with a space at the end. The bot should strip any spaces around the topic.

":next 2015-09-01T08:43Z 2015-09-02T01:00 https://etherpad.mozilla.org/testday-20150901 Firefox for Desktop "

[2015-09-03 08:17] whimboo commented on #82
Sounds good to me to give people more information so that they know what's being collected. I don't have time right now to do any work for the bot. So if someone is happy to work on it I can mentor that person at least.

[2017-05-12 02:32] surentharan commented on #52
Hey there in the testday under the Flash Async Drawing I am unable to access the testcase sheet .. The access to the testcase sheet has been denied ..

[2017-07-09 06:15] surentharan commented on #52
@ 1. Shutdown Video Decoder .... in that test case 5 ... I cant find the attached html video link ?

[2017-08-18 17:30] FahimaZulfath opened #85 "Original State failed to show "Search" in the search field."
Step to Reproduce:
1) Download [Firefox 56 Beta 4:](https://archive.mozilla.org/pub/firefox/candidates/56.0b4-candidates/build2/)
2) Make a clear profile
3) Go to about:config and search for "browser.preferences.search" and set it value to true.
4) Go to "about:preferences"

Actual Result:
        Text is displayed as "Find in Options" instead of "Search" in the search field.

Expected Result:

[2017-08-18 18:21] FahimaZulfath opened #86 "about:preferences#searchResults contains link with text label "Firefox Support""
Step to Reproduce:

1. Download [Firefox 56 Beta 4](https://archive.mozilla.org/pub/firefox/candidates/56.0b4-candidates/build2/)
2. Make a clean profile
3. Go to about:config and search for "browser.preferences.search" and set it value to true.
4. Go to "about:preferences"
5. Start typing to search for something that doesn't have search results in preferences (e.g asd).
6. **Sorry! There are no r

[2017-08-20 15:10] FahimaZulfath opened #87 "Enable Container Tab is not found in about:preferences"
Step to Reproduce:

1. Launch Firefox
2. Go to "about:preferences".

Actual Result:
   "Enable container tab" is not found in general, search, privacy & security, firefox account.

Expected Result:
   "Enable Container Tabs" checkbox should present under Tabs in General. It is moved to General from Privacy & Security tab.
OS: Windows 10.0 X 64 - bit
Build ID: 20170818035007
[testday-20170818]

[2017-08-20 15:51] FahimaZulfath opened #88 "Under Application (about:peferences#general) string does'nt changed"
Step to Reproduce:

1. Launch Firefox
2. Go to "about:preferences".
3. In the General tab check the "Files and Applications" section - Applications

Expected Result:
"""Files and Applications"" section moved to General tab from ""Privacy & Security"" tab - Content remaining the same, except:
String changed - ""Choose how Nightly handles the files you download from the Web or the applications you u

[2017-08-20 16:27] FahimaZulfath opened #89 "Ellipsis are not added to "Manage Account" in about:preferences#sync"
Step to Reproduce:

1. Launch Firefox
2. Go to "about:preferences"
3. In the Firefox Account tab - check the "Firefox Account" section

Expected result:
  Strings changed and ellipsis added to Manage account

Actual Result:
  Ellipsis is not added to Manage Account

![image](https://user-images.githubusercontent.com/22166013/29496447-62139e8c-85f0-11e7-93ac-e1cd09c9d50e.png)

[2017-08-24 11:22] whimboo commented on #85
@FahimaZulfath if you wanted to file a bug against Firefox then please use Bugzilla. This repository is used for something completely different.

[2017-08-24 11:22] #85 closed

[2017-08-24 11:22] whimboo commented on #89
@FahimaZulfath if you wanted to file a bug against Firefox then please use Bugzilla. This repository is used for something completely different.

[2017-08-24 11:22] #89 closed

[2017-08-24 11:22] whimboo commented on #88
@FahimaZulfath if you wanted to file a bug against Firefox then please use Bugzilla. This repository is used for something completely different.

[2017-08-24 11:22] #88 closed

[2017-08-24 11:23] whimboo commented on #87
@FahimaZulfath if you wanted to file a bug against Firefox then please use Bugzilla. This repository is used for something completely different.

[2017-08-24 11:23] #87 closed

[2017-08-24 11:23] whimboo commented on #86
@FahimaZulfath if you wanted to file a bug against Firefox then please use Bugzilla. This repository is used for something completely different.

[2017-08-24 11:23] #86 closed

[2017-08-24 13:27] FahimaZulfath commented on #85
These issues were reported under the test day Fx 56 beta 4. Had last friday
18-08-2017. We have to report the build here only. Reopen it still it is
not fixed.

On Thu 24 Aug, 2017, 4:52 PM Henrik Skupin <notifications@github.com> wrote:

[2017-08-24 14:10] whimboo commented on #85
Again, this is not the right place to report bugs about Firefox. This is the repository for a bot tool for IRC which helps on test days. Again, report those bugs in Bugzilla.

[2019-02-17 17:40] moz-hwine opened #91 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- the wiki has been disabled, as it was not used

These were made as the result of a recent automated defacement of publically writeable wikis.

[2019-02-18 12:34] whimboo commented on #91
Thanks.

[2019-02-18 12:34] #91 closed

[2019-03-28 03:50] Mozilla-GitHub-Standards opened #92 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-28 07:22] #92 closed

[2021-02-01 13:16] ganeshjambhulakar commented on #82
I want to work on bot can you guide me,
I dont have information about this bot please guide me

[2021-02-01 16:25] whimboo commented on #82
Sorry, but this project got actually abandoned a long time ago. I'm going to close all issues.

[2021-02-01 16:25] #82 closed